.query-form {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 1px 0;
    &__header {
        margin: 25px 31px 16px;
        border-bottom: 1px solid #e1e8ee;
        padding-bottom: 10px;
    }
    &__inner {
        padding-left: 31px;
        padding-right: 31px;
    }
    &__title {
        margin: 0;
    }
    &__additional {
        padding-top: 24px;
        background-color: #f8fafb;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    &__footer {
        padding: 0 31px 32px;
        .button {
            margin-right: 10px;
        }
        &.expanded {
            background-color: #f8fafb;
        }
    }
}