.side-menu-toggle {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 10px 0 50px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 20px;
        height: 14px;
        display: block;
        position: relative;
    }
    &__icon {
        width: 75%;
        height: 2px;
        background: #ffffff;
        display: block;
        margin: 6px 0;
        will-change: width;
        transition: width $transition-time;

        &:before,
        &:after {
            position: absolute;
            content: "";
            height: 2px;
            background: #ffffff;
            left: 0;
            will-change: width;
        }
        &:before {
            top: 0;
            width: 100%;
        }
        &:after {
            bottom: 0;
            width: 50%;
            transition: width $transition-time;
        }
    }


    &--active {
        .side-menu-toggle__icon {
            width: 100%;

            &:after {
                width: 100%;
            }
        }
    }
}
