.site-nav {
    > .site-nav__list {
        overflow-y: auto;
    }
    &__list {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    &__item {
        list-style-type: none;

        &--has-submenu {
            > .site-nav__link {
                position: relative;

                &:after {
                    content: "";
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 32px;
                    margin: auto;
                    background: url("../images/arrow-right.svg") no-repeat center / cover;
                }
            }
        }
        &--active {
            > .site-nav__submenu {
                transform: translateX(0);
            }
            > .site-nav__link {
                background-color: #f7f8f9;
            }
        }
    }
    &__link {
        @include font-size(16px);
        font-family: $medium;
        color: #86939e;
        display: block;
        padding: 15px 32px;
        text-decoration: none;

        &:hover {
            background-color: #f7f8f9;
        }
    }
    &__submenu {
        left: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #ffffff;
        box-shadow: 8px 0 11px -5px rgba(0, 0, 0, 0.1) inset, 3px 0 11px 0 rgba(0, 0, 0, .1);
        transform: translateX(-10000px);
        padding-top: 22px;
        z-index: 1;

        .site-nav__item {
            &--active {
                > .site-nav__link {
                    box-shadow: 8px 0 11px -5px rgba(0, 0, 0, 0.1) inset;
                }
            }
        }
        .site-nav__link {
            padding: 13px 32px;

            &-back {
                position: relative;
                border-top: 1px solid #F8F8F8;
                border-bottom: 1px solid #F8F8F8;
                background-color: #fafbfc;
                padding-top: 10px;
                padding-bottom: 10px;
                @include font-size(13px);
                text-transform: uppercase;
                text-align: right;
                display: none;

                &:before {
                    content: "";
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 25px;
                    margin: auto;
                    transform: rotate(180deg);
                    background: url("../images/arrow-right.svg") no-repeat center / cover;
                }
                &:hover {
                    background-color: #f7f8f9;
                    border-color: #f7f8f9;
                }
            }
            &:hover {
                box-shadow: 8px 0 11px -5px rgba(0, 0, 0, 0.1) inset;
            }
        }
    }
}

@media (max-width: 767px) {
    .site-nav {
        &__submenu {
            left: 0;
            box-shadow: none;
            transition: transform .5s;
            transform: translateX(300px);

            .site-nav__link {
                &-back {
                    display: block;
                }
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}