.button {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 1;
    height: 32px;
    line-height: 32px;
    min-width: 130px;
    border-radius: 6px;
    text-align: center;
    border: none;
    overflow: hidden;
    text-transform: uppercase;

    &__inner--overlay {
        transition: background-color $transition-time;
    }
    &__inner {
        font-family: $medium;
        @include font-size(12px);
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        user-select: none;
        padding: 0 18px;
        transition: color $transition-time;
    }
    &.default {
        background-color: transparent;

        .button__inner {
            color: $primary-color;
        }
    }
    &.style-1 {
        background-color: $primary-color;
    }

    /**
    * @actions
    */

    &:hover {
        .button__inner--overlay {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    /**
    * @states
    */

    &[disabled] {
        cursor: default;

        .button__inner--overlay {
            background-color: rgb(229, 229, 229);
        }
        .button__inner {
            color: rgba(0, 0, 0, 0.3);
        }
    }
}